<!-- 
 File name: navbar.html
 Author: sunny
 -->

 <!-- Desktop navbar -->
<nav class="topBarWrapper desktop-nav">
    <ul>
        <li class="pdfLogo"><a href="/index.html"></a></li>
        <li class="fold-toggle"><button id="left-button"><<</button></li>

        <!-- Left Foldable items -->
        <li class="foldableL dropdown">
            <a class="dropBtn">⚙️</a>
            <ul class="dropdown-content">
                <li><a href="#">Client mode</a></li>
                <li><a href="#">Dark mode</a></li>
            </ul>
        </li>
        <li class="foldableL dropdown">
            <a class="dropBtn" >PDF Reader</a>
            <ul class="dropdown-content">
                <li><a href="#">Import pdf</a></li>
                <li><a href="#">Background</a></li>
                <li><a href="#">Text</a></li>
            </ul>
        </li>

        <!-- Right Foldable items -->
        <li class="foldableR dropdown">
            <a class="dropBtn">PDF Editor</a>
            <ul class="dropdown-content">
                <li><a href="#">Merge pdf</a></li>
                <li><a href="#">Split pdf</a></li>
            </ul>
        </li>
        <li class="foldableR dropdown">
            <a class="dropBtn">PDF Convert</a>
            <ul class="dropdown-content">
                <li><a href="#">Pdf to word</a></li>
                <li><a href="#">Pdf to epub</a></li>
            </ul>
        </li>
        
        <!-- Toggle button -->
        <li class="fold-toggle"><button id="right-button">>></button></li>
    </ul>
</nav>

<!-- Mobile navbar -->
 <nav class="topBarWrapper mobile-nav">
    <div class="mobile-logo">
        <a href="/index.html"></a>
    </div>
    <ul>
        <li class="dropdown">
            <a class="dropBtn">⚙️</a>
            <ul class="dropdown-content">
                <li><a class="client-server-switch" href="#">Client mode</a></li>
                <li><a href="#">Dark mode</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a class="dropBtn">Reader</a>
            <ul class="dropdown-content">
                <li><a href="#">Import pdf</a></li>
                <li><a href="#">Background</a></li>
                <li><a href="#">Text</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a class="dropBtn">Editor</a>
            <ul class="dropdown-content">
                <li><a href="#">Merge pdf</a></li>
                <li><a href="#">Split pdf</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a class="dropBtn">Convert</a>
            <ul class="dropdown-content">
                <li><a href="#">Pdf to word</a></li>
                <li><a href="#">Pdf to epub</a></li>
            </ul>
        </li>

    </ul>
 </nav>